@use "../../../styles/partials/utils";

.recipe-list {
    &__loading {
        @include utils.flex-container($jc: center, $ai: center);
    }

    &__card {
        position: relative;
        flex-basis: 325px;

        &-photo {
            position: relative;
            height: 200px;

            > img {
                object-fit: cover;
                object-position: center;
            }
        }

        &-footer {
            position: sticky;
            top: 100%;
            @include utils.flex-container($jc: center);
            margin-top: 1rem;
        }
    }
}
