@use "@/styles/partials/utils";

.app-footer {
    // position: sticky;
    // top: 100%;
    padding: 20px 5px 15px;
    color: #fafafa;
    background-color: #262626;
    @apply font-sans;

    &__content {
        font-weight: 700;
        font-size: 1rem;
        @include utils.flex-container($jc: center, $ai: center);
    }
}
